<div class="flex-container">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <form class="container" [formGroup]="signInForm">
    <h1>Log In</h1>
    <div *ngIf="errMsg.length > 0">
      <span *ngFor="let msg of errMsg">{{ msg }} <br /></span>
    </div>
    <input
      pInputText
      pAutoFocus
      [autofocus]="true"
      type="text"
      placeholder="Username"
      formControlName="username"
      style="margin-top: 20px;"
    />
    <input
      pInputText
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <button (click)="onSubmit()">Submit</button>
    <p [routerLink]="['/sign-up']" routerLinkActive="router-link-active">
      Don't have a profile? Sign up!
    </p>
  </form>
</div>
