<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="flex-container">
  <form class="container" [formGroup]="loginForm">
    <h1>Log In</h1>
    <div *ngIf="errMsg.length > 0">
      <span *ngFor="let msg of errMsg">{{ msg }} <br /></span>
    </div>
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="password" placeholder="Password" formControlName="password" />
    <button (click)="onSubmit()">Submit</button>
    <p [routerLink]="['/sign-up']" routerLinkActive="router-link-active">
      Don't have a profile? Sign up!
    </p>
  </form>
</div>
