<div class="flex-container">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <form class="container" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>
    <div *ngIf="errMsg.length > 0">
      <span *ngFor="let msg of errMsg">{{ msg }} <br /></span>
    </div>

    <input
      pInputText
      pAutoFocus
      [autofocus]="true"
      type="text"
      placeholder="First Name"
      formControlName="firstName"
      style="margin-top: 20px"
    />
    <input
      pInputText
      type="text"
      placeholder="Last Name"
      formControlName="lastName"
    />
    <input
      pInputText
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <input
      pInputText
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <input
      pInputText
      type="password"
      placeholder="Repeat password"
      formControlName="repeatPassword"
    />
    <input
      pInputText
      type="email"
      placeholder="Email"
      formControlName="email"
    />
    <input
      pInputText
      type="number"
      placeholder="Age"
      formControlName="age"
      min="0"
    />

    <div class="gender-options">
      <label>
        <input type="radio" formControlName="gender" value="m" />
        Male
      </label>
      <label>
        <input type="radio" formControlName="gender" value="f" />
        Female
      </label>
    </div>

    <button type="submit">Submit</button>
    <p [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
      Already have a profile? Sign in!
    </p>
  </form>
</div>
